{
  "extends": ["wesbos"],
  "ignorePatterns": ["vite.config.js"],
  "rules": {
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "quotes": ["error", "double"],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ]
  }
}
